<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
          Welcome
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/login">Home</a></li>
          <li><a href="/regis">Register</a></li>
           <li><a href="/employ">users</a></li>
           

        </ul>
      
    </div>
</nav>